<h2>Books</h2>
<%= form_with model: @book, url:'/books', local:true do |f| %>
  <h6>Title</h6>
  <%= f.text_field :title %>
  <h6>Body</h6>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
